.skill_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill_image {
  width: 150px;
  height: 150px;
}

.skill_title {
  font-family: "Geo";
  color: #0affec;
}
@media (min-width: 320px) { 
  .skill_wrapper {
    padding: 15px 20px;
  }
  .skill_image {
    width: 50px;
    height: 50px;
  }
  .skill_title {
    padding-top:1em;
  }
  }

  @media (min-width: 375px) { 
    .skill_wrapper {
      padding: 15px 20px;
    }
    .skill_image {
      width: 75px;
      height: 75px;
    }
    .skill_title {
      padding-top:1em;
    }
    }

@media (min-width: 768px) { 

  .skill_wrapper {
    padding: 20px 25px;
  }
  .skill_image {
    width: 85px;
    height: 85px;
  }
  .skill_title {
    font-size: 1.5em;
    padding-top:1.2em;
  }
 }
 @media (min-width: 1024px) {
  .skill_wrapper {
    padding: 40px 35px;
  }
  .skill_image {
    width: 110px;
    height: 110px;
  }
  .skill_title {
    font-size: 2em;
    padding-top:1.7em;
  }
}


@media (min-width: 1200px) { 
  .skill_image {
    width: 90px;
    height: 90px;
  }
  .skill_title{
    font-size: 30px;

  }
}
@media (min-width :1366px){

  .skill_image {
    width: 110px;
    height: 110px;
  }
  .skill_title{
    font-size: 30px;

  }
}
@media (min-width :1920px) {
  .skill_wrapper {
    padding: 50px 55px;
  }
  .skill_image {
    width: 150px;
    height: 150px;
  }
  .skill_title{
    font-size: 35px;

  }
}
@media (min-width :2560px){
  .skill_wrapper {
    padding: 60px 65px;
  }
  .skill_image {
    width: 165px;
    height: 165px;
  }
}

