.skill_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding:40px 70px
}
.skill_image{
    width: 150px;
    height: 150px;
}
.skill_title{

    font-size: 25px;
    font-family: 'Geo';
    color:#0affec;
    padding-top:30px
}
/* @media screen and (max-width: 411px) {
    .skill_image{
      width: 60px;
      height: 60px;
    }
    .skill_wrapper{
        padding:25px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

} */
@media screen and (max-width: 540px) {
    .skill_image{
      width: 60px;
      height: 60px;
    }
    .skill_wrapper{
        padding:25px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 414px) {
    .skill_image{
      width: 60px;
      height: 60px;
    }
    .skill_wrapper{
        padding:25px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}