.projects_anchorWrapper {
  padding-top: 5%;
}

.projects_titleWrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: default;

}

.projects_anchorTitle {
  color: #0affec;
  font-family: "Geo";
}

.projects_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 100%;
  padding-top: 100px;
}
.project__projectInfo{
  cursor: default !important;
}


@media (min-width: 320px) {
  .projects_anchorTitle {
    font-size: 2.6em;
  }
}

@media (min-width: 768px) {
  .projects_anchorTitle {
    font-size: 3.5em;
  }
}

@media (min-width: 1024px) {
  .projects_anchorTitle {
    font-size: 4.3em;
  }
}

@media (min-width: 1280px) {
  .projects_wrapper {
    padding-top: 0px;
  }
}

@media (min-width :1440px) {
  .projects_anchorWrapper {
    padding-bottom: 120px;
  }
}

@media (min-width :1920px) {
  .projects_anchorWrapper {
    padding-bottom: 200px;
  }
  .projects_anchorTitle {
    font-size: 5em;
  }
}

@media (min-width :2560px) {
  .projects_anchorTitle {
    font-size: 6em;
  }
  .projects_titleWrapper {
    padding-bottom: 200px;
  }
}