

.feed_wrapper{
  height: 100vh;
}

.name {
  font-family: "Bungee Shade", cursive;
  padding-top: 200px;
  padding-left: 15%;
  height: 100vh;
}

.firstname {
  text-shadow: 0 0 calc(3px * 1);
}

/* Start flash animation */

.text {
  font-size: 8em;
  text-align: left;
  color: #222;
  margin-bottom: 60px;
  transition: 0.1s ease-in-out;
}

.text.first {
  animation: flash 1s forwards;
  animation-delay: 1s;
}

.text.on {
  animation: flashOn 0.5s forwards;
}
.feed_role{
  color: #0affec;
  font-size: 40px;
  font-family: 'Geo';
  margin: auto;
  width: 35%;
  font-weight: 100;
  font-style: italic;


}

@keyframes flash {
  0% {
    color: #222;
    text-shadow: unset;
  }
  8% {
    color: #222;
    text-shadow: unset;
  }
  20% {
    color: #222;
    text-shadow: unset;
  }
  30% {
    color: #0affec;
    text-shadow: 0 0 10px;
  }
  32% {
    color: #222;
    text-shadow: unset;
  }
  38% {
    color: #222;
    text-shadow: unset;
  }
  40% {
    color: #0affec;
    text-shadow: 0 0 10px;
  }
  50% {
    color: #222;
    text-shadow: unset;
  }
  65% {
    color: #222;
    text-shadow: unset;
  }
  85% {
    color: #222;
    text-shadow: unset;
  }
  95% {
    color: #222;
    text-shadow: unset;
  }
  100% {
    color: #0affec;
    text-shadow: 0 0 calc(20px * 10);
    text-shadow: calc(0.005 * -6em) 0 .04em #0affec, calc(0.005* -6em) 0 .04em #ff00e1,
  }
}

/* End flash animation */

/* Start glitch animation */

h1 {
  font-size: 95px;
  color: #fff;
  font-style: italic;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  left: calc(15% -1.5px);
  text-shadow: 1.5px 0 #69cad1;
  animation: glitch1 0.8s infinite linear alternate-reverse;
}

h1::after {
  content: attr(data-text);
  position: absolute;
  left: calc(15% + 1.5px);
  text-shadow: -1.5px 0 #ef1751;
  animation: glitch2 1s infinite linear alternate-reverse;
}

@keyframes glitch1 {
  0% {
    clip-path: inset(5% 0 15% 0);
  }
  20% {
    clip-path: inset(61% 0 9% 0);
  }
  40% {
    clip-path: inset(5% 0 81% 0);
  }
  60% {
    clip-path: inset(21% 0 52% 0);
  }
  80% {
    clip-path: inset(11% 0 70% 0);
  }
  100% {
    clip-path: inset(68% 0 6% 0);
  }
}

@keyframes glitch2 {
  0% {
    clip-path: inset(82% 0 9% 0);
  }
  20% {
    clip-path: inset(31% 0 44% 0);
  }
  40% {
    clip-path: inset(49% 0 11% 0);
  }
  60% {
    clip-path: inset(6% 0 85% 0);
  }
  80% {
    clip-path: inset(40% 0 37% 0);
  }
  100% {
    clip-path: inset(90% 0 3% 0);
  }
}

/* End glitch animation */


.one {
}

.two {
  left: 18vw;
  position: relative;
}

.three {}

.four {
  left: 18vw;
  position: relative;
}

.five {}

.objectTop {
  position: absolute;
  top: 210px;
  
}

/*  ----- ANIMATION -----  */

.objectAnimation {
  animation: MoveUpDown 4s linear infinite;
  position: relative;
  left: 18vw;
  z-index: 10;
  width: 300px;

}



@keyframes MoveUpDown {
  0%, 100% {
    bottom: -5px;
  }
  50% {
    bottom: 15px;
  }
}



/*  -----  MEDIA  ----- */

@media screen and (max-width: 1250px) {
  .objectAnimation {
    left: 25vw;
    width: 220px;
  }
  .text {
    font-size: 85px;
  }
  h1 {
    font-size: 85px;
  }
  h1::before {
    font-size: 85px;
  }
  h1::after {
    font-size: 85px;
  }
  .name {
    padding-top: 200px;
  }
  .two {
    left: 25vw;
    position: relative;
  }
}

@media screen and (max-width: 950px) {

  .objectTop {
  top:180px    
  }
  
  .text {
    font-size: 65px;
  }
  h1 {
    font-size: 65px;
  }
  h1::before {
    font-size: 65px;
  }
  h1::after {
    font-size: 65px;
  }
  .name {
    padding-top: 200px;
  }
  .two {
    left: 25vw;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .objectAnimation {
    left: 30vw;
    width: 150px;
  }
  .objectTop {
  top:150px    
  }
  .text {
    font-size: 65px;
  }
  h1 {
    font-size: 65px;
  }
  h1::before {
    font-size: 65px;
    left: calc(5% - 1.5px);

  }
  h1::after {
    font-size: 65px;
    left: calc(5% - 1.5px);

  }
  .name {
    padding-top: 180px;
    padding-left: 5%;

  }
  .two {
    left: 30vw;
    position: relative;
  }

}

@media screen and (max-width: 645px) {
  .objectAnimation {
    left: 30vw;
    width: 150px;
  }
  .objectTop {
  top:150px    
  }
  .text {
    font-size: 50px;
  }
  h1 {
    font-size: 50px;
  }
  h1::before {
    font-size: 50px;
  }
  h1::after {
    font-size: 50px;
  }
  .name {
    padding-top: 180px;
  }

}

@media screen and (max-width: 500px) {
  .objectTop {
    top:100px    
    }
  .text {
    font-size: 45px;
  }
  h1 {
    font-size: 45px;
  }
  h1::before {
    font-size: 45px;
    left: calc(5% - 1.5px);
  }
  h1::after {
    font-size: 45px;
    left: calc(5% + 1.5px);
  }
  .name {
    padding-top: 150px;
    padding-left: 5%;
  }
}
@media screen and (max-width: 375px ) {
  .objectAnimation {
    left: 30vw;
    width: 80px;
  }
  .objectTop {
    top:100px    
    }
  .text {
    font-size: 35px;
  }
  h1 {
    font-size: 35px;
  }
  h1::before {
    font-size: 35px;
    left: calc(1% - 1.5px);
  }
  h1::after {
    font-size: 35px;
    left: calc(1% + 1.5px);
  }
  .name {
    padding-top: 150px;
    padding-left: 1%;
  }
}
@media screen and (max-width: 360px) {
  .objectAnimation {
    left: 30vw;
    width: 80px;
  }
  .objectTop {
    top:100px    
    }
  .text {
    font-size: 35px;
  }
  h1 {
    font-size: 35px;
  }
  h1::before {
    font-size: 35px;
    left: calc(1% - 1.5px);
  }
  h1::after {
    font-size: 35px;
    left: calc(1% + 1.5px);
  }
  .name {
    padding-top: 150px;
    padding-left: 1%;
  }
}

