@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
/* 'Bungee Inline', */

* {
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #1a1a1a; */
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh; */
}
body {
    /* position: absolute; */
    /* top: 25%;
    left: 25%; */
    /* transform: translate(-50%, -50%); */
    background-color: #000;
  }
.name {
  font-family: "Bungee Shade", cursive;
}
.text {
  font-size: 75px;
  text-align: left;
  color: #222;
  margin-bottom: 60px;
  transition: 0.1s ease-in-out;
}

.text.first {
  animation: flash 1s forwards;
  animation-delay: 1s;
}

.text.on {
  animation: flashOn 0.5s forwards;
}

@keyframes flash {
  0% {
    color: #222;
    text-shadow: unset;
  }
  8% {
    color: #222;
    text-shadow: unset;
  }
  20% {
    color: #222;
    text-shadow: unset;
  }
  30% {
    color: #0affec;
    text-shadow: 0 0 10px;
  }
  32% {
    color: #222;
    text-shadow: unset;
  }
  38% {
    color: #222;
    text-shadow: unset;
  }
  40% {
    color: #0affec;
    text-shadow: 0 0 10px;
  }
  50% {
    color: #222;
    text-shadow: unset;
  }
  65% {
    color: #222;
    text-shadow: unset;
  }
  85% {
    color: #222;
    text-shadow: unset;
  }
  95% {
    color: #222;
    text-shadow: unset;
  }
  100% {
    color: #0affec;
    text-shadow: 0 0 calc(30px * 10);
    /* text-shadow: calc(0.005 * -6em) 0 .04em #0affec, 
    calc(0.005* -6em) 0 .04em #ff00e1,
    0 0 calc(10px*2); */
  }
}
/* Start glitch */


h1 {
  font-size: 75px;
  color: #fff;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  left: -1.5px;
  text-shadow: 1.5px 0 #69cad1;
  background-color: #000;
  animation: glitch1 0.8s infinite linear alternate-reverse;
}

h1::after {
  content: attr(data-text);
  position: absolute;
  left: 1.5px;
  text-shadow: -1.5px 0 #ef1751;
  background-color: #000;
  animation: glitch2 1s infinite linear alternate-reverse;
}

@keyframes glitch1 {
  0% {
    clip-path: inset(5% 0 15% 0);
  }
  20% {
    clip-path: inset(61% 0 9% 0);
  }
  40% {
    clip-path: inset(5% 0 81% 0);
  }
  60% {
    clip-path: inset(21% 0 52% 0);
  }
  80% {
    clip-path: inset(11% 0 70% 0);
  }
  100% {
    clip-path: inset(68% 0 6% 0);
  }
}

@keyframes glitch2 {
  0% {
    clip-path: inset(82% 0 9% 0);
  }
  20% {
    clip-path: inset(31% 0 44% 0);
  }
  40% {
    clip-path: inset(49% 0 11% 0);
  }
  60% {
    clip-path: inset(6% 0 85% 0);
  }
  80% {
    clip-path: inset(40% 0 37% 0);
  }
  100% {
    clip-path: inset(90% 0 3% 0);
  }
}
/* End glitch */
