

h1 {
  color: #fff;
  font-style: italic;
}

.feed_wrapper {
  height:100vh;
  animation: fade-in 2s;
  display: flex;
  flex-direction: column;
  cursor: default;


}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

.objectTop {
  display: flex;
  padding-top: 15%;
}
.name {
  display: flex;
  flex-direction: column;
  font-family: "Bungee Shade", cursive;
  padding-left: 10%;
}


.firstname {
  text-shadow: 0 0 calc(5px * 2);
  display: flex;
}

.feed_numbersWrapper {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
}

.feed_numberSpaceBetween {
  padding: 0px 50px;
}


.objectAnimationUp {
  animation: MoveUpDown 3s linear infinite;
  position: relative;
}
.objectAnimationDown {
  animation: MoveDownUp 3s linear infinite;
  position: relative;
}

.feed_numberOne {
  color: #0affec;
  text-shadow: 0 0 calc(5px * 2);
  display: flex;
  margin-right: 10px;
}
.feed_numberZero {
  color: #ffffff;
  text-shadow: 0 0 calc(5px * 2);
  display: flex;
  margin-right: 10px;
}
.testOne {
}
.text {
  display: flex;
  text-align: left;
  color: #222;
  margin-bottom: 60px;
  transition: 0.1s ease-in-out;
  margin-right: 50px;
}
.feed_textWrapper {
  display: flex;
  flex-direction: row;
  padding: 40px 0px 0px 50px;
}
.text.first {
  animation: flash 2s forwards;
  animation-delay: 1.5s;
}
.feed_role {
  display: flex;
  justify-content: center;
  color: #0affec;
  font-size: 40px;
  font-family: "Geo";
  font-weight: 100;
  font-style: italic;
  padding-top: 5%;
}

@keyframes MoveUpDown {
  0% {
    bottom: 15px;
  }
  25% {
    bottom: 7px;
  }
  50% {
    bottom: 0px;
  }
  75% {
    bottom: 7px;
  }
  100% {
    bottom: 15px;
  }
}
@keyframes MoveDownUp {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: 7px;
  }
  50% {
    bottom: 15px;
  }
  75% {
    bottom: 7px;
  }
  100% {
    bottom: 0px;
  }
}

/* Start flash animation */

@keyframes flash {
  0% {
    color: #222;
    text-shadow: unset;
  }
  8% {
    color: #222;
    text-shadow: unset;
  }
  20% {
    color: #222;
    text-shadow: unset;
  }
  30% {
    color: #0affec;
    text-shadow: 0 0 10px;
  }
  31% {
    color: #222;
    text-shadow: unset;
  }
  38% {
    color: #222;
    text-shadow: unset;
  }
  40% {
    color: #0affec;
  }
  42% {
    color: #222;
    text-shadow: unset;
  }
  65% {
    color: #222;
    text-shadow: unset;
  }
  85% {
    color: #222;
    text-shadow: unset;
  }
  95% {
    color: #222;
    text-shadow: unset;
  }
  100% {
    color: #0affec;
    text-shadow: 0 0 calc(5px * 2);
  }
}

/* End flash animation */

/*  -----  MEDIA  ----- */

 @media (min-width: 320px) { 
   h1, .firstname{
     font-size: 1.5em;
   }
   .feed_numbersWrapper {
    padding-left: 20px;
  }
  .feed_numberSpaceBetween {
    padding: 0px 10px;
  }
  .objectTop {
    padding-top: 15%;
  }
  .name {
    padding-left: 2%;
  }
  .text{
    font-size: 1.7em;
  }
  .feed_textWrapper {
    display: flex;
    flex-direction: row;
    padding: 20px 0px 0px 20px;
  }
  .feed_role{
    font-size: 15px;
  }
  
  
 }
 @media (min-width: 375px) {
  .objectTop {
    padding-top: 25%;
  } 
  h1, .firstname{
    font-size: 1.8em;
  }
  .text{
    font-size: 2.1em;
  }
  .feed_role{
    font-size: 20px;
  }
}

@media (min-width: 768px) { 
  .name{
    padding-left: 10%;
  }
  .objectTop {
    padding-top: 18%;
  } 
  h1, .firstname{
    font-size: 2.9em;
  }
  .text{
    font-size: 3.5em;
  }
  .feed_role{
    font-size: 30px;
  }
}
@media (min-width: 1024px) { 
  .name{
    padding-left: 10%;
  }
  .objectTop {
    padding-top: 25%;
  } 
  h1, .firstname{
    font-size: 4em;
  }
  .text{
    font-size: 5em;
  }
  .feed_role{
    font-size: 30px;
  }

}



@media (min-width: 1280px) { 
  .feed_numbersWrapper {
    padding-left: 100px;
  }
  .feed_numberSpaceBetween {
    padding: 0px 50px;
  }
  .name{
    padding-left: 0%;
  }
  .objectTop {
    padding-top: 15%;
  } 
  h1 ,.firstname{
    font-size: 3.5em;
  }
  .name{
    padding-left: 10%;
  }
  .text{
    font-size: 4.5em;
  }
  .feed_role{
    font-size: 30px;
  }
 }

 @media (min-width :1366px){
   .name{
     padding-left: 15%;
   }

 }

 @media (min-width :1440px){
  
  .name{
    padding-left: 10%;
  }
  .objectTop {
    padding-top: 15%;
  } 
  h1 ,.firstname{
    font-size: 4.5em;
  }
  .name{
    padding-left: 10%;
  }
  .text{
    font-size: 6em;
  }
  .feed_role{
    font-size: 30px;
  }
 }
@media (min-width :1920px){
  h1 ,.firstname{
    font-size: 6em;
  }
  .name{
    padding-left: 15%;
  }
  .text{
    font-size: 7.5em;
  }
}
@media (min-width :2560px){
  .name{
    padding-top: 5%;
  }
  .feed_role{
    font-size: 40px;
  }
}

