.experience_wrapper {
  padding-top: 10%;
  color: #0effea;
  cursor: default;
}

.experience_InfoWrapper {
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.experience_titleWrapper {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.experience_anchorTitle {
  color: #0effea;
}

.experience_paragraph {
  padding: 30px 20px;
}

.experience_title {
  color: #fafafa;
  font-size: 1.7em;
  padding-bottom: 30px;
}

.experience_wrapper {
  padding-top: 10%;
  font-size: 2em;
  color: #0effea;
}

@media (min-width: 320px) {
  .experience_anchorTitle {
    font-size: 1.2em;
  }
  .experience_InfoWrapper {
    font-size: 0.5em;
  }
}

@media (min-width: 768px) {
  .experience_anchorTitle {
    font-size: 1.8em;
  }
}

@media(min-width:1024px) {
  .experience_anchorTitle {
    font-size: 2.3em;
  }
  .experience_InfoWrapper {
    font-size: 0.9em;
  }
}

@media (min-width: 1280px) {
  .experience_wrapper {
    padding-top: 5%;
    color: #0effea;
  }
  .experience_anchorTitle {
    font-size: 2.5em
  }
  .experience_wrapper {
    font-size: 1.3em;
  }
}

@media (min-width :1440px) {
  .experience_wrapper {
    padding-bottom: 120px;
  }
}

@media (min-width :1920px) {
  .experience_wrapper {
    padding-top: 7%;
    font-size: 1.6em;
  }
  .experience_paragraph {
    padding: 50px 40px;
  }
  .experience_InfoWrapper {
    padding: 0px 50px;
  }
  .experience_title {
    font-size: 1.7em;
  }
}

@media (min-width :2560px) {
  .experience_wrapper {
    font-size: 2em;
  }
  .experience_title {
    font-size: 2em;
  }
  .experience_paragraph {
    font-size: 1.2em;
  }
}